nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F1EDEE;
  z-index: 1;
 
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 13px;
  padding:20px;

}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 500;
  transition: 0.2s ease;
}

nav ul li a:hover {
  color: #1A5DAD;
  font-weight: 100;
}

nav ul li ul {
  width: 80px;
  color: #fff;
  display: block;
  position: fixed;
  display: none;
  /* margin-top: -15px; */
}

nav ul li ul li a {
  width: 100%;
  font-size: 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li:hover > ul {
  display: initial;
  position: fixed;
  display: block;
  background-color: #F1EDEE;
}